#moduleactioninfo {
    padding: 5px 15px;
}
#moduleactioninfo .title-area {
    padding: 15px 5px;
}
#moduleactioninfo .home-title {
    color: #000;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.1rem;
}
#moduleactioninfo .badge {
    float: right;
}
#moduleactioninfo .home-body {
    white-space:nowrap;
    overflow: auto;
}
#moduleactioninfo .home-table {
    width: 100%;
    border: 1px solid #f1f1f1;
}
#moduleactioninfo th {
    border: 1px solid #f1f1f1;
}
#moduleactioninfo td {
    border: 1px solid #f1f1f1;
    padding: 10px;
    vertical-align: middle;
}
#moduleactioninfo .error-msg {
    height: 400px;
    text-align: center;
}
#moduleactioninfo .warning-img {
    font-size: 80px;
    text-align: center;
    margin-top: 100px;
}
#moduleactioninfo .error-text {
    color: #000;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}